<%-include('../includes/head.ejs') %>

    <%- include('../includes/header.ejs') %>

        <main>
            <section class="form">


                <form action="/products/created" method="POST enctype=multipart/form-data">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" name="name" id="relleno" required>

                    <label for="imageS">Imagen/es del Producto</label>
                    <input type="file" name="product-image" id="relleno" required>

                    <label for="category">Categoría del Producto</label>
                    <select name="category" id="category" required>
                        <option value="Quesos">QUESOS</option>
                        <option value="Cocidos">COCIDOS</option>
                        <option value="Jamon Crudo">JAMON CRUDO</option>
                        <option value="Salames y Salamines">SALAMES Y SALAMINES</option>
                        <option value="Pancetas">PANCETAS</option>
                        <option value="Mortadelas">MORTADELAS</option>
                        <option value="Bondiola">BONDIOLA</option>
                        <option value="Pancetas">PANCETAS</option>
                    </select>



                    <label for="peso">Cuanto pesa el paquete cerrado?(en kg sin signo $ ni puntos)</label>
                    <input type="number" name="peso" id="relleno" value required>

                    <label for="price">Precio del Producto</label>
                    <input type="number" name="price" id="relleno" required>
                    <label for="description">Descripción del Producto</label>
                    <textarea name="description" id="description" required" required></textarea>
                    <button type="submit" id="btn">Crear Producto</button>
                </form>
            </section>
        </main>

        /* consultar por si quiere porcentaje de descuento */

        </body>

        </html>