



    <%-include('../includes/head.ejs') %>


<body>
    <%-include('../includes/header.ejs') %>
        <main>

            <%= product.name %>

                <div>

                    <section id="producto">
                        <picture id="pic">
<img src="/images/product-images/<%= product.images%>" alt="foto del producto">
                        </picture>

                    </section>
                </div>

        </main>



</body>

</html>