<%-include('../includes/head.ejs') %>


    <body>
        <%-include('../includes/header.ejs') %>
            <main>
                <div>

                    <section class="producto">

                        <article id="articles_container">
                            <picture id="pic">
                                <img src="/images/product-images/<%= product.images%>" alt="foto del producto" id="img">
                            </picture>
                            <article id="product_info">
                                <h2>
                                    <%= product.name %>
                                </h2>
                                <p>
                                    $2.500
                                </p>
                                <p>
                                    - comoprando por mayor tenes un precio diferente de producto
                                </p>
                            </article>
                        </article>
                    </section>
                </div>

            </main>



    </body>

    </html>