.whatsapp {
    padding: 10px;
    border-radius: 50px;
    background: var(--ast-global-color-4);
}
#list {
    width: 90%;
    margin: auto;
    padding: 2em;
    border-radius: 30px;
    background: #ededed;
}
#back {
    display: grid;
    justify-items: start;
    justify-content: center;
    background-color:#ededed;
}
#relleno {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid;
    font-size: 14px;
 
}
#form {
    display: grid;
    place-items: flex-start;
}
#btn { 
    background-color: #9C211C;
    color: white;
    padding: 5px;
border-radius: 7px;

}