
main{
    background-color:#FFF0D4;
    padding-bottom: 30px
}
.banner-contacto{
    width:100%
}
.banner-contacto img{
    width:100%
}
.whatsapp {
    padding: 10px;
    border-radius: 50px;
    background: var(--ast-global-color-4);
}
#list {
    width: 90%;
    margin: auto;
    padding: 2em;
    border-radius: 30px;
    background: #ededed;
}
#back {
    display: grid;
    justify-items: start;
    justify-content: center;
    background-color:#ededed;
}
#relleno {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid;
    font-size: 14px;
 
}
#form {
    display: grid;
    place-items: flex-start;
}
#btn { 
    background-color: #9C211C;
    color: white;
    padding: 5px;
border-radius: 7px;

}

/* DATOS NUESTROS */
section.contacto-container{
    margin: 5px auto;
    width: 95vw;;
    height: auto;
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:15px 0
}

.tel-insta{
    display:flex;
    flex-direction:column;
    gap:5px;
    font-weight:600;
    font-size:14px
}
.tel-insta a{
    text-decoration: none;
    color: black;
    opacity:1;
    transition: all 500ms
}
.tel-insta a:hover{
    opacity:0.7
}
.tel-insta a i.fa-whatsapp{
    font-size: 16px;
    color: white;
    background-color: #4dc247;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    padding: 1px;
}
.tel-insta a i.fa-instagram{
    font-size: 16px;
    color: white;
    background-color: #c13584;
    border-radius: 5px;
    width: 18px;
    text-align: center;
    padding: 1px;

}
.mail{
    font-weight:600;
    font-size:14px
}
.mail i {
    font-size:16px
}
.adress{
    font-weight:600;
    font-size:14px
}
.adress i{
    color: red;
    font-size: 16px
}
.map{
    border: 2px solid #9C211C;
    width:100%;
    height: 70vw
}
/* COMO COMPRAR */
section.comprar{
    padding:15px 0;
    margin: 5px auto;
    width: 95vw;;
    height: auto;
    display:flex;
    flex-direction: column;
    gap:15px
}
.comprar h3{
    text-transform: uppercase;
    color: #670606;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center
}
.comprar p{
    font-size: 14px;
    font-weight: 500
}

/* DESCARGA LISTA */
nav.download-nav{
    display:flex;
    justify-content: center;
}
a.download{
    text-decoration:none;
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    padding:4px;
    font-size: 14px;
    width: auto;
    border-radius: 10px;
    text-align: center;
}