*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat";
}
footer{
    padding: 60px 0 10px 0;
    background-color: #46C2C4 ;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    gap:20px;
    box-shadow: inset 0px 39px 87px -68px rgba(0,0,0,0.71);
    -webkit-box-shadow: inset 0px 39px 87px -68px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 39px 87px -68px rgba(0,0,0,0.71);

}
footer img{
    height: 100px;
    width:100px
}
.footer-nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}
.footer-nav h3{
    font-size:16px;
    font-weight:bold;
    letter-spacing: 2px;
    color:white;
    text-align:center
}

.footer-nav a{
    text-decoration:none;
    font-size:14px;
    color:white
}
.footer-contact p{
    font-size:14px;
    color:white
}
.footer-creators{
    flex-direction:row;
    flex-wrap:wrap
}
.footer-creators h3{
    text-align: center;
    flex-basis:100%
}
#articles a {
    text-decoration: none;
    margin: 2px;
    font-size: 20px;
}