*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat";
}
#articles{
    background-color: #FFF0D4;
    display: flex;
    flex-direction: column;
    text-align: center;
text-decoration: none;
}
#articles a {
    text-decoration: none;
    margin: 2px;
    font-size: 16px;
}