*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
main{
    padding:30px 0;
    background-color:#FFF0D4;
    border-top: 2px solid #9C211C;
}
main form{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}
main form label{
    margin-top: 10px;
    width:80vw;
    max-width: 700px;
    font-size: 14px;
    font-weight: 650;
    display: block;
    background-color: #FFF0D4;
    color:#670606
    
}
main form select{
    max-width: 400px;
    width:70vw;
    align-self:center;
    text-align: center;
    border: .5px solid #9C211C;
}

main form textarea{
    max-width: 700px;
    width:80vw;
    height: 150px;
    border: .5px solid #9C211C;
    background-color: white
}
main form input{
    height: 1.5rem;
    background-color: white;
    max-width: 700px;
    display:block;
    width:80vw;
    border: .5px solid #9C211C;
}
#peso{
    width:100px
}
#price{
    width:100px
}
#product-image{
    background-color: #FFF0D4;
    border:none
}

main form button{
    text-decoration: none;
    font-size: 18px;
    width:auto;
    color:#f9f9f9;
    background-color:#9C211C;
    padding:7px 6px 5px 6px;
    border: none;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    transition: all 300ms
}
button:hover{
    opacity:0.7
}

.recordame-field{
    display:flex;
    border:none;
    justify-content: center;
    gap:10px;
    align-items: center;
    width: 60vw
}
.recordame-field input{
    width:auto;
    margin: 0 
}
.recordame-field label{
    width:auto;
    margin: 0 
}
p.msg-error{
    color: red
}