*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat";
}
body{
    opacity: 1;
    transition: all 500ms ease-in-out;
}
header{
    width:100vw;
    background-color:#FFF0D4 
    
}
.header-top-bar{
    display:none
}
.header-bottom-bar{
    display:none
}
.header-mobile{
    padding: 5px;
    gap: 10px;
    width:100vw;
    
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#FFF0D4 ;

}

.search-form{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 0.5px solid #9C211C ;
    background-color: white;
    left: 3em;

}
.search-form input{
    
    width: 185px;
    height: 100%;
    border: none;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding:10px
}
.search-form button{
    width: 30px;
    height: 100%;
    border: none;
    color: #FFF0D4;;
    
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    padding: 3px;
    background-color: #9C211C;
    cursor:pointer;
    opacity:1;
    transition: all 0.2s ease;
}
.search-form button:hover{
    opacity:0.7
}

.search-form button i{
    font-size: 18px
}


.burger-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.burger-menu a{
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    height:32px;
    font-size: 18px;
    width: 32px;
    padding-top:6px;
    border-radius: 3px
}
.logo-nav{
flex-basis: 100%;
align-content: center;
text-align: center
}
#logo{
    height: 150px;
    width:150px
}


/*icono agregar porductos */
.fa-plus{
    font-size: 16px;
    color: white;
    background-color: #9C211C;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    padding: 1px;
} 

/* admin */
.fa-user {
    font-size: 16px;
    color: white;
    background-color: #9C211C;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    padding: 1px;
}

/*MENU HAMBURGUESA FUNCIONAL*/
#burger-menu{
    position:fixed;
    top:4px;
    left:4px;
    padding: 60px 10px;
    height: auto;
    width: auto;
    visibility: hidden;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    z-index:999999;
    gap:25px;
    opacity:0;
    border-radius:5px;
    transition: all 500ms ease-in-out;;
    background-color:#9C211C;
    border:#FFF0D4 1px solid
}
#burger-menu:target{
    visibility: visible;
    opacity: 1
}
#burger-menu a{
    text-decoration: none;
    color: #FFF0D4;
    font-size:16px
}
/* ingresar*/
.navbarLinks{
    text-decoration: none;

}
/*logo*/

/*estilos que se usan en todas las vistas:*/
.titular{
    letter-spacing: 2px;
    text-align: center;
    color:#670606;
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px;
    margin-bottom:15px
}
.return-nav {
    padding:10px;
    margin-bottom:15px
}
.return-nav a{
    color:#9C211C;
    text-decoration:none
}

@media(min-width:768px){
    
    .burger-menu a{
        width:40px;
        height:40px;
        padding-top:9px;
        font-size: 20px;
        
    }
    .search-form{
        height:40px
    }
    .search-form input{
        width:250px
    }
}
@media(min-width:1024px){
    .header-mobile{
        display:none
    }

    .header-top-bar{
    padding: 15px;
    gap: 10px;
    max-width:1024px;
    margin:auto;
    
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#FFF0D4 ;
    }
    .logo-nav{
        flex-basis:auto
    }
    #logo{
        height:80px;
        width:80px
    }
    .search-form button{
        width:40px
    }
    .search-form input{
        width:350px
    }
    .header-bottom-bar{
        display:flex;
        justify-content: space-evenly;
        gap:30px;
        height:50px;
        max-width:1024px;
        margin:auto
    }
    .header-bottom-bar a{
        text-decoration: none;
        color:#670606;
        transition: all 0.2s ease;

    }
    .header-bottom-bar a:hover{
        font-size:18px;
        font-weight: 600;

    }
}