*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat";
}
body{
    opacity: 1;
    transition: all 500ms ease-in-out;
}
header{
    padding: 5px;
    gap: 10px;
    width:100vw;
    
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#FFF0D4 ;
    border-bottom: 0.5px solid #9C211C
    
}

.search-form{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 0.5px solid #9C211C ;
    background-color: white;
    position: relative;
    left: 3em;

}
.search-form input{
    
    width: 185px;
    height: 100%;
    border: none;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding:10px
}
.search-form button{
    width: 30px;
    height: 100%;
    border: none;
    color: #FFF0D4;;
    
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    padding: 3px;
    background-color: #9C211C

}.search-form button i{
    font-size: 18px
}


.burger-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.burger-menu a{
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    height:32px;
    font-size: 18px;
    width: 32px;
    padding-top:6px;
    border-radius: 3px
}
.logo-nav{
flex-basis: 100%;
align-content: center;
text-align: center

}
.header-logo{
    height: 60px;
}

/*icono agregar porductos */
.fa-plus{
    font-size: 16px;
    color: white;
    background-color: #9C211C;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    padding: 1px;
} 

/* admin */
.fa-user {
    font-size: 16px;
    color: white;
    background-color: #9C211C;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    padding: 1px;
}

/*MENU HAMBURGUESA FUNCIONAL*/
#burger-menu{
    position:fixed;
    top:4px;
    left:4px;
    padding: 5px 10px;
    height: auto;
    width: auto;
    visibility: hidden;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    z-index:999999;
    gap:10px;
    opacity:0;
    border-radius:5px;
    transition: all 500ms ease-in-out;;
    background-color:#9C211C;
    border:#FFF0D4 1px solid
}
#burger-menu:target{
    visibility: visible;
    opacity: 1
}
#burger-menu a{
    text-decoration: none;
    color: #FFF0D4;
    font-size:12px
}
