*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


main{
    background-color: #FFF0D4;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.titular{
    letter-spacing: 2px;
    text-align: center;
    color:#670606;
    font-size: 18px;
    font-weight: bold;
}

nav.contacto-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}
a.boton{
    text-decoration:none;
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    padding:8px;
    font-size: 18px;
    width: auto;
    border-radius: 20px;
    letter-spacing: 1px;
   
}

.whatsapp-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color: white;
    background-color:#4dc247;
    width:40px;
    height:40px;
    border-radius:100px;
    font-size:24px
}

.category{
    text-align: center;
}
 .product_cart{
    letter-spacing: 2px;
    color: #670606;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;

}

section.destacados{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.destacados h3{
    flex-basis:100%
}

article.item-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 90vw;
    border: 0.5px solid #9C211C;
    gap:5px;
    padding-bottom:5px
}

img.item-image{
    width:90vw;
    height:100vw;
    flex-basis:100%;
    object-fit: cover; 
}

.item-article a{
    flex-basis: 100%
}
.item-name{
    flex-basis: 100%;
    letter-spacing: 1px;
    text-transform:uppercase;
    text-align: center;
    font-size: 12px;
}
.item-price{
    letter-spacing: 2px;
    text-align: center
}
nav.download-nav{
    display:flex;
    justify-content: center;
}
a.download{
    text-decoration:none;
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    padding:4px;
    font-size: 14px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    

}


/*carrousel de img */
#carrousel{
    width: 100%;
    height: 500px;
    overflow: hidden;
 }
 #carrousel ul {
    display: flex;
    animation: cambio 20s infinite
    alternate linear;
    width: 400%;
 }
 #carrousel li {
    width: 100%;
    list-style: none;
 }
 #carrousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
 }

 ul.slider.li:first-child {
    opacity:1;
 }
 ul.slider.li:target {
    opacity: 1;
 }

/*menus */
.menu{
    text-align: center;
    margin: 15px;
}
.menu.li{
    display: inline-block;
    text-align:center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none; 
    background-color: #9C211C;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius:100%; 
}

 @keyframes cambio {
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%}
45%{margin: left -100%};
    
50%{margin-left:-200%}
70%{margin-left:-200% ;}

75%{margin-left:-200%}
100%{margin-left:-300%}


}
 