*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


main{
    background-color: #FFF0D4;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.titular{
    letter-spacing: 2px;
    text-align: center;
    color:#670606;
    font-size: 18px;
    font-weight: bold;
}

nav.contacto-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}
a.boton{
    text-decoration:none;
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    padding:6px;
    font-size: 14px;
    width: auto;
    border-radius: 20px;
    letter-spacing: 1px;
   
}

.whatsapp-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color: white;
    background-color:#4dc247;
    width:40px;
    height:40px;
    border-radius:100px;
    font-size:24px
}

.category{
    text-align: center;
}
 .product_cart{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #670606;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;

}
/*CARUSEL CATEGORIAS*/
/*ARRANCA EL CAMBIO*/
.slide{
    text-decoration:none;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:5px

}
a.cat-carr{
    text-decoration: none;  

}
.cat-carr img{
    width: 110px;
    height:110px;
    object-fit: cover;
}
.cat-carr h5{
    font-size:12px;
    color:#670606;
    z-index:4
}
#categorias-carousel{
    margin: 10px auto;
    width: 100vw;
    height: 140px;
    overflow: hidden;
    position:relative
}
#track{
    margin: auto;
    width: 100%;
    height:100%;
    position:relative;
    transition: all 500ms
    
}
.slide{
    width:100%;
    height:100%;
    position: absolute
}

.fa-arrow-right{
    text-decoration:none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
    background-color:#9C211C;
    border-radius:3px;
    height: 1.5rem;
    width: 1.5rem;
    z-index:3;
    position:absolute;
    right: 3px;
    top: 55px
}
.fa-arrow-left{
    text-decoration:none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
    background-color:#9C211C;
    border-radius:3px;
    height: 1.5rem;
    width: 1.5rem;
    z-index:3;
    position:absolute;
    left: 3px;
    top: 55px
}
.active a{
    z-index:5
}
.active a img{
    z-index:5
}


/*TERMINA CARUSEL CATEGORIAS*/
section.destacados{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.destacados h3{
    flex-basis:100%
}

article.item-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 80vw;
    border-radius:20px;
    gap:5px;
    padding-bottom:5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    position: relative
}


.item-article a{
    border-radius:20px;
    flex-basis: 100%;
    overflow:hidden
}

img.item-image{
    width:100%;
    height:60vw;
    flex-basis:100%;
    border-radius:20px;
    object-fit: cover; 
    transform: scale(1);
    overflow:hidden;
    transition: all 0.5s
}
.item-image:hover{
    transform:scale(1.2)
}

.item-article a{
    flex-basis: 100%
}
.item-name{
    flex-basis: 100%;
    letter-spacing: 1px;
    text-transform:uppercase;
    text-align: center;
    font-size: 12px;
}
.descuento{
    position:absolute;
    top:20px;
    left:0;
    background-color:aliceblue;
    padding: 5px;
    z-index:1;
    border-radius: 0 100px 100px 0;
    font-size:14px;
    font-weight:600;
    color:#39b54a
}
.precio-descuento{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.precio-descuento h6{
    text-decoration:line-through;
    color:#39b54a

}
.item-price{
    letter-spacing: 2px;
    text-align: center;
    
}
nav.download-nav{
    display:flex;
    justify-content: center;
}
a.download{
    text-decoration:none;
    text-align:center;
    color:#FFF0D4;;
    background-color: #9C211C ;
    box-sizing: border-box;
    padding:4px;
    font-size: 14px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    

}


/*carrousel de img */
#carrousel{
    width: 100%;
    height: 500px;
    overflow: hidden;
 }
 #carrousel ul {
    display: flex;
    animation: cambio 20s infinite
    alternate linear;
    width: 400%;
 }
 #carrousel li {
    width: 100%;
    list-style: none;
 }
 #carrousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
 }

 ul.slider.li:first-child {
    opacity:1;
 }
 ul.slider.li:target {
    opacity: 1;
 }

/*menus */
.menu{
    text-align: center;
    margin: 15px;
}
.menu.li{
    display: inline-block;
    text-align:center;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none; 
    background-color: #9C211C;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius:100%; 
}

 @keyframes cambio {
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%}
45%{margin: left -100%};
    
50%{margin-left:-200%}
70%{margin-left:-200% ;}

75%{margin-left:-200%}
100%{margin-left:-300%}


}
 