* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


main {
    background-color: #FFF0D4;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.producto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

#articles_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 90vw;
    border-radius: 2em;
    gap: 5px;
    padding-bottom: 5px;
}


#img {
    width: 90vw;
    height: 100vw;
    flex-basis: 100%;
    object-fit: cover;
}
/*ul*/
#productInfo{
    list-style: none;
}

#productInfo li{
    display: flex;
    border-bottom: 3px #9C211C solid;
    margin: 1.5em 0;
    justify-content: space-around;
    align-items: center;

}


/*detalle*/
#product_info {
    text-align: center;
    font-size: 16px;
}.descuento {
    top: 20px;
    left: 0;
    padding: 5px;
    z-index: 1;
    border-radius: 0 100px 100px 0;
    font-size: 14px;
    font-weight: 600;
    color: #39b54a;
}
.item-price{
    letter-spacing: 1px;
}
#precioDescuento{
    display: flex;
    align-items: center;
  justify-content: space-between; 

    width: 100%;
}

#precioDescuento h6 {
    text-decoration: line-through;
    color: #39b54a;
}
.detalles {
text-align: center;
}
.detalles h3 {
    border-bottom: 3px #9C211C solid;

}
