*{
 background-color: aqua     n;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*¨menu burger */
#bars_menu{
    width: 50px;
    height: 30px;
   transform: translate(-50%, -50%) ;
   position: absolute;
   left: 90%;
}
#bars_menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 6px;
    transition: all 300ms;
    transform-origin: 10px 100%;
} 
active.linea1_bar-menu{
    transform: rotate(45deg) translate(-10px, 1px );
}
active.linea2_bar-menu{
 opacity: 0;
 margin-left: -50px;
}
active.linea3_bar-menu{    
      transform: rotate(-45deg);
      translate: (10px ,2xp);

}
/*--------HEADER------*/

#imagen{
    text-align: center;
}
/*------MAIN-------*/
.icono  {
    width: 50%;
    border-radius: 2em;
    padding: 5px;
} 
#foto {
    width: 50%;
    border-radius: 2em;
padding: 5px;
}
.caja_1{
    text-align: center;
}
#muestra {width: 50%;
    border-radius: 2em;
    padding: 5px;
}
/*----------------*/
.footer {  text-align: center;
text-decoration: none; }