

main{
    background-color: #FFF0D4;
    padding-bottom:30px

}

.banner-categorias{
    width:100%;
}
.banner-categorias img{
    width:100%
}
.return-nav {
    padding:10px;
    margin-bottom:15px
}
.return-nav a{
    color:#9C211C;
    text-decoration:none
}

.categorias-nav{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    width:100%;
    justify-content: center;
}
.categorias-nav a{
    width:40vw;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.categorias-nav a img{
    width:40vw;
    height:40vw;
    object-fit:cover
}
.categorias-nav a h5{
    color:#670606;
    font-size:14px
}
