<footer>
<article id="articles">
    <a href="/">Home</a>

    <a href="">Cómo comprar</h4>

        <a href="/contacto">Coctacto</a>
        
        <a href="https://wa.me/5491151084159?text=Hola%20vi%20su%20pagina%20web,%20me%20gustaria%20hacerles%20una%20pregunta..."
            target="_blank"><i class="fa-brands fa-whatsapp"></i>
            <h5>Seguinos</h5>

            /// instagram

            <i class="fa-brands fa-github"></i> /// githubview

       

</article>
</footer>