<footer>
    <img src="/images/logo.png">
    
    <nav class="footer-menu footer-nav">    
    <h3>MENU</h3>
    <a href="/">HOME</a>
    <a href="/contacto">CONTACTO</a>
    <a href="/products/categorias">NUESTROS PRODUCTOS</a>
    </nav>

    <nav class="footer-contact footer-nav">
        <h3>CONTACTANOS</h3>
        <a href="https://wa.me/5491151084159?text=Hola%20vi%20su%20pagina%20web,%20me%20gustaria%20hacerles%20una%20pregunta..."><i class="fa-brands fa-whatsapp"></i> +54 9 11 2295-7373</a>
        <p><i class="fa-solid fa-location-dot"></i> Av. San Martín 3417,  Lomas del Mirador</p>
    </nav>

    <nav class="footer-creators footer-nav">
        <h3>With ♡ By</h3>
        <a href="https://github.com/CarlosPalladino"><i class="fa-brands fa-github"></i> Carlos Palla</a>
        <a href="https://github.com/httpini"><i class="fa-brands fa-github"></i> httpini</a>
    </nav>

</footer>