<div> 
<a href ="/">Home</a>

<a href="">Cómo comprar</h4>  ///armar una vista de compras

<a href="/contacto">Coctactos</a>

<h5>Seguinos</h5>
/// instagram
/// whatsapp

/// diseño bye @nicolaspiñol github + carlospalla github

</div>