<article id="articles">
    <a href="/">Home</a>
        <a href="/contacto">Coctacto</a>
         <i class="fa-brands fa-instagram"></i>
        <a href="https://wa.me/5491151084159?text=Hola%20vi%20su%20pagina%20web,%20me%20gustaria%20hacerles%20una%20pregunta..."
            target="_blank"><i class="fa-brands fa-whatsapp"></i>
            <h5>Seguinos</h5>

           
<h4> Crate by </h4>
            <i class="fa-brands fa-github"></i> /// github href

       <a href="ht

</article>