<header>
<!---->
    <nav class="burger-menu">
        <a href="#burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <form action="/products/" method="get" class="search-form">
        <input type="text" placeholder="Buscar Productos">
        <button type="submit" class="boton-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>



    <nav class="logo-nav">
        <a class="header-logo" href="/" ><img src="/images/logo-pecco.svg" >
        </a>
    </nav>

</header>