<header>
<!---->
    <nav class="burger-menu">
        <a href="#burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <nav id="burger-menu">
        <a href="#">Cerrar</a>
        <a href="/">INICIO</a>
        <a href="/contacto">CONTACTO</a>
        <a href="/products/categorias">NUESTROS PRODUCTOS</a>
        <a class="downloud" href="/files/listado-precios/prueba-1.xls" download="Listado Agosto 2022.xls">DESCARGAR LISTA DE PRECIOS</a>

        <i class="fa-solid fa-plus"></i>
     
    </nav>
  <a href="/products/create/"><i class="fa-solid fa-plus new product"></i></a>
  
   
 
 <a href="/users/create"class="navbarLinks">Ingresá</a>
 <a href="/users/login" class="navbarLinks">Login</a>
    <form action="/products/" method="get" class="search-form">
        <input type="text" placeholder="Buscar Productos">
        <button type="submit" class="boton-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>



    <nav >
        <a  href="/" ><img src="/images/logo.png"id="logo" > 
        </a>
    </nav>

</header>