<header>
    <nav>
        <a href="/"><img src="/images/logo-960.png" alt="Logo LM" class="header-logo"></a>
    </nav>
    <form action="/products/" method="get" class="search-form">
        <input type="text" placeholder="Buscar Productos">
        <button type="submit" class="boton-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <nav class="burger-menu">
        <a href="#burger-menu" >
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>