<header id="etiquetas">
    <forms action="/" method="get" id="formulario">
        <input type="nombre del productos " placeholder="ingresá el producto">
        <i class="fa-solid fa-magnifying-glass"></i>
    </forms>
    <nav id="bars_menu">
        <span class="linea1_bar-menu"></span>
        <span class="linea2_bar-menu"></span>
        <span class="linea3_bar-menu"></span>

    </nav>

    <scripts src="js/scripts.js"></scripts>
    <section><img src="/images/250577759_123096543587243_4487399989780700313_n.jpg" alt="" class="icono">
    </section>

</header>