<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%-include('./includes/head.ejs') %>
    </head>

<body>
    <header>
        <%- include('./includes/header.ejs') %>
    </header>
    <main>

        <articles>  
           
         
        </articles>


     <h5>Nuetros productos</h5>
     <a href="/contacto">contactanos</a> <i class="fa-brands fa-whatsapp"></i>
        <h5>productos destacados</h5>

        <article class="caja_1">
<img src="/images/fotomuestra.jpg" alt="" id="muestra">
<h4> matamabre a la pizza</h4>
<h4> 1500$</h4>

        </article>
<article>

</article>
    </main>
    <footer>
<h4 id="listado">Descarga nuestro listado completo</h4>
    </footer>
</body>

</html>