<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Maria</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

</head>

<body>
    <header id="etiquetas">

        <input type="nombre del productos " placeholder="ingresá el producto">
        <div class="bars_menu">
            <span class="linea1_bar-menu"></span>
            <span class="linea2_bar-menu"></span>
            <span class="linea3_bar-menu"></span>
        </div>
    </header>
</body>

</html>