<!DOCTYPE html>
<html lang="en">
    <head>  
        <head>
            <%-include('./includes/head.ejs') %> 
        </head>
<body>
<header> 
    <%- include('./includes/header.ejs') %> 
</header>
    <main>
        <h4> matambre de la casa </h4>
        <img src="/images/fotomuestra.jpg" alt="" id="foto">
    </main>
    <footer class="footer">

        <a href=""><h5> Nuetros productos</h5> </a>

       <a href="/contacto"><h5>Contactanos</h5> </a>
<articles></articles>
<articles></articles>


    </footer>
</body>

</html>