<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%-include('./includes/head.ejs') %>
    </head>

<body>
    <header>
        <%- include('./includes/header.ejs') %>
    </header>
    <main>

        <articles>  
           
         
        </articles>

        <articles>

        </articles>


     <h5>Nuetros productos</h5>
        <h5>Contacto</h5> <i class="fa-brands fa-whatsapp"></i>
        <h5>productos destacados</h5>

        <articles id="fondo">
<img src="/images/fotomuestra.jpg" alt="">
<h4> matamabre a la pizza</h4>
<h4> 1500$</h4>

        </articles>
<article></article>
    </main>
    <footer>

   
    </footer>
</body>

</html>