
<%-include('./includes/head.ejs') %>


<body>
    <header>
        <%- include('./includes/header.ejs') %>
    </header>
    <main>

        <articles>  
           
         
        </articles>


     <h5>Nuetros productos</h5>
     <a href="/contacto">contactanos</a> <i class="fa-brands fa-whatsapp"></i>
        <h5>productos destacados</h5>

        <article class="caja_1">
<!--<img src="/images/fotomuestra.jpg" alt="" id="muestra"> -->
<h4> matamabre a la pizza</h4>
<h4> 1500$</h4>

        </article>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d410.179481336331!2d-58.53409555092274!3d-34.66894772648159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc94a1e43d96f%3A0x62d5a1ed641ad474!2sDistribuidora%20las%20marias!5e0!3m2!1ses-419!2sar!4v1660774914031!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<article>-->

</article>
    </main>
    <footer>

   <h5> Descarga el listado commpleto en pdf </h5>
    </footer>
</body>

</html>